/*
xmenu4_dhtml.css
xMenu4 Demos 1 and 2, Cascading menus from nested ULs!
This code is distributed under the terms of the LGPL (gnu.org)
Mike Foster, Cross-Browser.com
*/

/* xMenu4 DHTML Rules (see xmenu4_default.css for downgrade rules) */

/* Bar */

/* Outermost UL (horizontal bar) */
ul.xmBar {
  position:absolute; visibility:hidden;
  margin:0; padding:4px;
  background:transparent;
  overflow:visible; cursor:default;
}
/* All LIs in ul.xmBar */
ul.xmBar li {
  list-style:none;
  display:inline;
  width:70px;
  margin:0 8px 0 0; padding:2px 6px;
}
/* Bar label */
li.xmBarLbl {
  color:#000; background:#BF8660;
  border-left:1px solid #ccc;
  border-top:1px solid #ccc;
  border-right:1px solid #333;
  border-bottom:1px solid #333;
}
li.xmBarLblHvr {
  color:#fff; background:#596380;
  border-left:1px solid #333;
  border-top:1px solid #333;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
/* Bar item */
li.xmBarItm {
  color:#000; background:#BF8660;
  border-left:1px solid #ccc;
  border-top:1px solid #ccc;
  border-right:1px solid #333;
  border-bottom:1px solid #333;
}
li.xmBarItmHvr {
  color:#fff; background:#596380;
  border-left:1px solid #333;
  border-top:1px solid #333;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
}

/* Box */

/* All ULs except outermost */
ul.xmBox {
  position:absolute; visibility:hidden;
  display:block; width:124px;
  margin:0; padding:4px;
  overflow:visible; cursor:default;
  background:#BF8660;
  border-left:1px solid #ccc;
  border-top:1px solid #ccc;
  border-right:1px solid #333;
  border-bottom:1px solid #333;
}
/* All LIs in ul.xmBox */
ul.xmBox li {
  display:block; margin:6px 0; padding:0;
  width:124px; height:auto /* 16px; */
}
/* Box label */
li.xmBoxLbl {
  color:#000; background:transparent;
  border-right:1px solid #333;
}
li.xmBoxLblHvr {
  color:#fff; background:#596380;
  border-right:1px solid #333;
}
/* Box item */
li.xmBoxItm {
  color:#000; background:transparent;
}
li.xmBoxItmHvr {
  color:#fff; background:#596380;
}

/* A element over-rides so we don't inherit unwanted styles */

ul.xmBar li a:link, ul.xmBar li a:visited, ul.xmBar li a:active { /* for all As in ul.xmBar */
  display:inline;
  margin:0; padding:0; border:none;
  font-weight:normal; text-decoration:none;
  color:#000; background:transparent;
}
ul.xmBar li a:hover { /* for all As in ul.xmBar */
  display:inline;
  margin:0; padding:0; border:none;
  font-weight:normal; text-decoration:none;
  color:#fff; background:transparent;
}

ul.xmBox li a:link, ul.xmBox li a:visited, ul.xmBox li a:active { /* for all As in ul.xmBox */
  display:block; /* width:100%; height:100%; */
  margin:0; padding:0; border:none;
  font-weight:normal; text-decoration:none;
  color:#000; background:transparent;
}
ul.xmBox li a:hover { /* for all As in ul.xmBox */
  display:block; /* width:100%; height:100%; */
  margin:0; padding:0; border:none;
  font-weight:normal; text-decoration:none;
  color:#fff; background:transparent;
}

/* Misc */

#menuMarker { /* menu will be positioned at this element */
  display:block;
  position:relative; overflow:hidden;
  margin:0 0px 32px 0px; padding:0;
  background:transparent;
}