<!DOCTYPE cruisecontrol [ 
  <!ENTITY RainbowWCRoot "D:\home\rainbow\googlecode\svn\">

  <!ENTITY BN_devint_trunk "NET_2.0$devint$trunk$">
  <!ENTITY BP_devint_trunk "NET_2.0/devint/trunk/">

  <!ENTITY localExternalWebRoot "http://white.bossdev.com.ua/">

  <!ENTITY rainbow_publishers  '
    <publishers>
      <xmllogger />
      <merge>
        <files>
          <file>Tests\Results\*-results.xml</file>
        </files>
      </merge>
      <email from="rainbow-build-office@moudrick.net" mailhost="localhost" includeDetails="true">
        <users>
          <user name="Alexey O Moudrick" group="developer" address="alexey@moudrick.net"/>
        </users>
        <groups>
          <group name="developer" notification="always"/>
        </groups>
      </email>
    </publishers>
'
>
]>
<cruisecontrol>
  <project>
    <name>white - Rainbow status</name> 
    <triggers />
    <workingDirectory>&RainbowWCRoot;</workingDirectory>
    <tasks>
      <exec>
        <executable>svn</executable>
        <baseDirectory>&RainbowWCRoot;</baseDirectory>
        <buildArgs>-u -N status --username moudrick --password d3s6x4v3</buildArgs>
        <buildTimeoutSeconds>10</buildTimeoutSeconds>
      </exec>
    </tasks>
  </project>

  <project name="white - Rainbow (devint trunk)">
    <workingDirectory>&RainbowWCRoot;</workingDirectory>
    <externalLinks>
      <externalLink name="Precompiled / SQL 2005" url="&localExternalWebRoot;&BN_devint_trunk;" />
      <externalLink name="Project / SQL 2000" url="&localExternalWebRoot;PrecompiledWeb/&BN_devint_trunk;" />
    </externalLinks>
    <triggers />
    <exec>
      <executable>svn</executable>
      <baseDirectory>&RainbowWCRoot;</baseDirectory>
      <buildArgs>update nant.build</buildArgs>
      <buildTimeoutSeconds>10</buildTimeoutSeconds>
    </exec>
    <sourcecontrol type="svn">
      <workingDirectory>&RainbowWCRoot;&BP_devint_trunk;</workingDirectory>
    </sourcecontrol>
    <build type="nant">
      <buildArgs>-D:in.branch=&BP_devint_trunk; -D:in.webAppTemplate=Rainbow2.0-Trunk</buildArgs>
      <buildFile>nant.build</buildFile>
      <targetList><target>ccnet</target></targetList>
      <buildTimeoutSeconds>2400</buildTimeoutSeconds>
    </build>
    &rainbow_publishers;
  </project>

</cruisecontrol>