<!DOCTYPE cruisecontrol [ 
	<!ENTITY RainbowWCRoot "D:\home\projects\rainbow\svn\rainbow\">

	<!ENTITY BN_devint_trunk "NET_2_0$devint$trunk$">
	<!ENTITY BP_devint_trunk "NET_2_0/devint/trunk/">

	<!ENTITY branch_name "sandboxes$MGF$trunk$">
	<!ENTITY branch_path "sandboxes/MGF/trunk/">

	<!ENTITY localExternalWebRoot "http://localhost/">

	<!ENTITY trigger__hour '<intervalTrigger seconds="3600" buildCondition="IfModificationExists"/> <!-- 43200 sec = 12 hours -->'>
	<!ENTITY rainbow_publishers  '
		<publishers>
			<xmllogger />
			<merge>
				<files>
					<file>Tests\Results\*-results.xml</file>
				</files>
			</merge>
			<email from="rainbow-build-home@moudrick.net" mailhost="localhost" includeDetails="true">
				<users>
					<user name="Alexey O Moudrick" group="developer" address="alexey@moudrick.net"/>
				</users>
				<groups>
					<group name="developer" notification="always"/>
				</groups>
			</email>
		</publishers>
'
>
]>
<cruisecontrol>

	<project name="iocluster - Rainbow (devint trunk)">
		<workingDirectory>&RainbowWCRoot;</workingDirectory>
		<externalLinks>
			<externalLink name="Built site SQL 2005" url="http://devint-rb.iocluster.com/" />
		</externalLinks>
		<triggers >
			<scheduleTrigger time="23:30" buildCondition="ForceBuild" />
			<scheduleTrigger time="5:30" buildCondition="ForceBuild" />
			<scheduleTrigger time="11:30" buildCondition="ForceBuild" />
			<scheduleTrigger time="17:30" buildCondition="ForceBuild" />
		</triggers>
		<exec>
			<executable>svn</executable>
			<baseDirectory>&RainbowWCRoot;</baseDirectory>
			<buildArgs>update nant.build</buildArgs>
			<buildTimeoutSeconds>10</buildTimeoutSeconds>
		</exec>
		<sourcecontrol type="svn">
			<workingDirectory>&RainbowWCRoot;&branch_path;</workingDirectory>
		</sourcecontrol>
		<build type="nant">
			<buildArgs>-D:in.branch=&branch_path; -D:in.webAppTemplate=Rainbow2.0-Trunk</buildArgs>
			<buildFile>default.build</buildFile>
			<targetList><target>ccnet.iocluster</target></targetList>
			<buildTimeoutSeconds>2400</buildTimeoutSeconds>
		</build>
		&rainbow_publishers;
	</project>

	<project name="Rainbow (devint trunk)">
		<workingDirectory>&RainbowWCRoot;</workingDirectory>
		<externalLinks>
			<externalLink name="Precompiled / SQL 2005" url="&localExternalWebRoot;&BN_devint_trunk;" />
			<externalLink name="Project / SQL 2000" url="&localExternalWebRoot;PrecompiledWeb/&BN_devint_trunk;" />
		</externalLinks>
		<triggers />
		<exec>
			<executable>svn</executable>
			<baseDirectory>&RainbowWCRoot;</baseDirectory>
			<buildArgs>update nant.build</buildArgs>
			<buildTimeoutSeconds>10</buildTimeoutSeconds>
		</exec>
		<sourcecontrol type="svn">
			<workingDirectory>&RainbowWCRoot;&BP_devint_trunk;</workingDirectory>
		</sourcecontrol>
		<build type="nant">
			<buildArgs>-D:in.branch=&BP_devint_trunk; -D:in.webAppTemplate=Rainbow2.0-Trunk</buildArgs>
			<buildFile>nant.build</buildFile>
			<targetList><target>ccnet</target></targetList>
			<buildTimeoutSeconds>2400</buildTimeoutSeconds>
		</build>
		&rainbow_publishers;
	</project>

	<project name="Rainbow (MGF's trunk)">
		<workingDirectory>&RainbowWCRoot;</workingDirectory>
		<externalLinks>
			<externalLink name="Precompiled / SQL 2005" url="&localExternalWebRoot;&branch_name;" />
			<externalLink name="Project / SQL 2000" url="&localExternalWebRoot;PrecompiledWeb/&branch_name;" />
		</externalLinks>
		<triggers />
		<exec>
			<executable>svn</executable>
			<baseDirectory>&RainbowWCRoot;</baseDirectory>
			<buildArgs>update nant.build</buildArgs>
			<buildTimeoutSeconds>10</buildTimeoutSeconds>
		</exec>
		<sourcecontrol type="svn">
			<workingDirectory>&RainbowWCRoot;&branch_path;</workingDirectory>
		</sourcecontrol>
		<build type="nant">
			<buildArgs>-D:in.branch=&branch_path; -D:in.webAppTemplate=Rainbow2.0-Trunk</buildArgs>
			<buildFile>nant.build</buildFile>
			<targetList><target>ccnet</target></targetList>
			<buildTimeoutSeconds>2400</buildTimeoutSeconds>
		</build>
		&rainbow_publishers;
	</project>

	<project name="Rainbow test">
		<workingDirectory>&RainbowWCRoot;</workingDirectory>
		<externalLinks>
			<externalLink name="test" url="http://source.iocluster.com:82/" />
		</externalLinks>
		<triggers />
		<build type="nant">
			<buildArgs> -D:in.branch=&branch_path; -D:in.webAppTemplate=Rainbow2.0-Trunk</buildArgs>
			<buildFile>nant.build</buildFile>
			<targetList><target>this.svn.update</target></targetList>
			<buildTimeoutSeconds>20</buildTimeoutSeconds>
		</build>
		&rainbow_publishers;		
	</project>

</cruisecontrol>
