/* CSS Document
Forms
Admin Area
Settings Tabls
 */

/* Rainbow.Zen - Admin area  */
/* styling the SettingsTable */

fieldset.SettingsTableGroup
{
	margin: 18px 0px 7px 0px;
	padding: 0px 5px 10px 5px;
	border: 1px solid #000000;
	background-color: #EEEEEE;
	position: relative;
}

/*  */
fieldset.SettingsTableGroup .SubHead
{
	font-size: 12px;
}

/* Desinged Frames' Caption */
legend.SubSubHead
{
	padding: 3px 3px 3px 3px;
	border: 1px solid #000000;
	background-color: #DAE9F4;
	color: #2A00DE;
	font-weight: 600;
	position: relative;
	top: -12px;
	vertical-align: middle;
}

/* styling the ModuleSettings page */
/*  */
div.ModuleSettings
{
	background: transparent;
}

/*  */
.cbl-vertical td
{
	font-size: 9px;
	text-align: right;
	position: relative;
}

/*  */
.cbl-vertical input
{
	width: 20px;
	display: block;
	position: relative;
	top: 0px;
}

/*  */
.cbl-vertical label
{
	padding: 0em 0px 0em 0px;
	width: 20px;
	clear: both;
	display: block;
	line-height: 2;
	text-align: right;
	position: absolute;
	bottom: 20px;
	left: 0px;
	height: 120px;
	vertical-align: middle;
}

/*  */
.ModuleSettings .SubHead
{
	width: 30%;
	font-size: 9px;
	text-align: right;
}

/*  */
div.ModuleSettings fieldset.st-group
{
	margin: 21px 0px;
}

