/* styling the help popup */
div.help-popup .help-content{
	padding: 0.5em 2em;
}
.help-popup h1{
	font-size:1.2em;
}
.help-popup .summary{
	font-size:0.85em;
	font-style:italic;	
}
.help-popup div.Normal{
	font-size:0.85em;
}
.help-popup .top-chrome{
	margin:0;
	padding:0.33em 1em;
	background-color:#99CCFF;
	border-bottom:1px solid Gray;
}
.help-popup .top-chrome p,.help-popup .end-chrome p{
	margin:0;
	padding:0;
	font-weight:normal;
	font-style:italic;
	font-size:0.85em;
}
.help-popup .top-chrome p.title{
	font-size:1em;
	font-weight:bold;
	font-style:normal;
}
.help-popup .end-chrome{
	margin:0;
	padding:0.33em 1em;
	border-top:1px solid Gray;
}

