<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="webclient.log" />
			<appendToFile value="true" />
			<rollingMode value="Date" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d %-4r [%t] %-5p %c %x - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingFile" />
		</root>
	</log4net>
	<appSettings>
		<add key="WinClientEcommerce.exportService.ExportService" value="http://localhost/rainbow/ecommerce/service/exportservice.asmx" />
		<add key="WinClientEcommerce.importService.ImportService" value="http://localhost/rainbow/ecommerce/service/importservice.asmx" />
		<add key="moduleId" value="10252" />
		<add key="msAccessConnection.ConnectionString" value="Jet OLEDB:Global Partial Bulk Ops=2;Jet OLEDB:Registry Path=;Jet OLEDB:Database Locking Mode=1;Jet OLEDB:Database Password=;Data Source=&quot;ecommerceProducts.mdb&quot;;Password=;Jet OLEDB:Engine Type=5;Jet OLEDB:Global Bulk Transactions=1;Provider=&quot;Microsoft.Jet.OLEDB.4.0&quot;;Jet OLEDB:System database=;Jet OLEDB:SFP=False;Extended Properties=;Mode=Share Deny None;Jet OLEDB:New Database Password=;Jet OLEDB:Create System Database=False;Jet OLEDB:Don't Copy Locale on Compact=False;Jet OLEDB:Compact Without Replica Repair=False;User ID=Admin;Jet OLEDB:Encrypt Database=False" />
	</appSettings>
</configuration>
