/* Rainbow.Zen Module Base File - Jes1111 */
div.zm-bdy p{
font-size:1em;
margin:0 0 0.33em 0;
color:Black;
}
div.zm-bdy a{
color:Black;
}
div.zm-bdy a:hover{
color:White;
background-color:Black;
}
div.zm-bdy h1{
font-size:1.8em;
}
div.zm-bdy h2{
font-size:1.4em;
}
.exp{
width:30em;
margin:10px auto;
}
hr{
width:35em;
margin:10px auto;
}
div.zm-hdr{
margin:0px;
padding:0px;
text-align:left;
/*border-bottom:1px solid #3c78b5;*/
/*border-top:1px solid #3c78b5;*/
/*z-index:auto;*/
}
div.zm-hdr h2{
font-size:14px;
font-weight:bold;
font-family:Arial,sans-serif;
padding:3px 0px 2px 0px;
margin:2px 4px 2px 0px;
color:#003366;
border-bottom:1px solid #3c78b5;
}
div.zm-hdr div.zm-content{
margin:0;
padding:0;
}
div.zm-bdy{
padding:0.5em 0.5em;
margin:0;
font-size:1em;
/*border-top:1px dotted Black;*/
}
div.zm{
position:relative;
margin:8px 5px;
padding:0px;
border-collapse:collapse;
/*font-size:1em;*/
}
div.zm-ftr{
}
div.zm-ftr div.zm-content{
}
div.zen-col-middle div.zm{
}
div.zen-col-left div.zm{
border-bottom:1px solid #cccccc;
border-left:1px solid #cccccc;
border-right:1px solid #cccccc;
}
div.zen-col-left div.zm-bdy {
background-color:#fff;
}
div.zen-col-left div.zm-hdr{
border-top:1px solid #ccc;
border-bottom:1px solid #3c78b5;
background-color:#f0f0f0;
}
div.zen-col-left div.zm-hdr h2{
font-size:14px;
font-weight:bold;
font-family:Arial,sans-serif;
padding:3px 0px 2px 3px;
margin:2px 4px 2px 3px;
color:#003366;
border:none;
}

div.zen-col-right div.zm{
}
div.zen-col-middle div.zm-bdy{
font-size:1em;
}
div.zen-col-left div.zm-bdy{
font-size:0.8em;
line-height:1.2em;
}
div.zen-col-right div.zm-bdy{
font-size:0.8em;
line-height:1.2em;
}
