/* Rainbow.Zen HeaderMenu Base File - Jes1111 */
/* buttons */
div.headermenu{
position: absolute;
top: 1px;
right: 0px;
font-size:10px;
}
div.headermenu ul{
float:left;
list-style:none;
line-height:2;
padding:0px;
margin:0px;
}
/* all menu containers */
div.headermenu li{
list-style:none;
float:left;
padding:0px 1px 0px 0px;
margin:0;
text-align:center;
}
/* all menu items */
div.headermenu li a{
display:block;
min-height:22px;
width:1%;
padding:0px 8px;
margin:0px;
background-color: #3c78b5;
color:#fff;
text-decoration:none;
border:1px none #3c78b5;
text-transform:uppercase;
font-weight:bold;
white-space:nowrap;
}
div.headermenu li a:hover{
color: White;
background-color: #003366;
}
/* labels */
div.headerlabels{
position:absolute;
top:42px;
right:0px;
padding:0px 5px 0px 0px;
margin:0;
font-size:0.8em;
}
div.headerlabels ul{
padding:0;
margin:0;
}
div.headerlabels li{
list-style:none;
padding:0;
margin:0;
}
