/* Rainbow.Zen Module Base File */

/* middle column module controls */
.zen-col-center .zm-ctrl
{
	position: static;
	bottom: 1px;
	margin: 0 0 0 65%;
}
/* middle column module controls */
.zen-col-center .zm-ctrl ul
{
position: relative;
top:0px;
right:0px;
padding:0;
margin:0;
}
/* middle column module controls */
.zen-col-center .zm-ctrl li
{
float:left;
list-style:none;
padding:0px 0px 0px 0px;
margin:0;
text-align:center;
white-space:nowrap;
}
/* middle column module controls */
.zen-col-center .zm-ctrl li a
{
	width: 25px;
	display: block;
	color: Black;
	background: center;
	text-decoration: none;
	height: 25px;
	white-space:nowrap;
}
/* middle column module controls */
.zen-col-center .zm-ctrl li:hover, .zen-col-center .zm-ctrl a:hover
{
	background-color: Transparent;
	color: 030303;
}
/* Left and right column module controls */
.zen-col-left .zm-ctrl, .zen-col-right .zm-ctrl
{
	clear: both;
	position: relative;
	top: 0px;
	left: 0px;
}
/* Left and right column module controls */
.zen-col-left .zm-ctrl ul, .zen-col-right .zm-ctrl ul
{
	float: left;
	padding: 0px;
	margin: 0px;
	background: transparent;
}
/* Left and right column module controls */
.zen-col-left .zm-ctrl li, .zen-col-right .zm-ctrl li
{
	margin: 0px;
	float: left;
	width: 25px;
	padding: 0px;
	list-style-type: none;
	color: #212166;
	background-color: transparent;
	font-size: 1em;
	height: 25px;
}
/* Left and right column module controls */
.zen-col-left .zm-ctrl li a, .zen-col-right .zm-ctrl li a
{
	width: 25px;
	font-size: 1em;
	display: block;
	color: Black;
	background: center;
	text-decoration: none;
	height: 25px;
}


.zm-bdy p
{
}

.zm-bdy a
{
}

.zm-bdy a:hover
{
}

.zm-bdy h1
{
	font-size: 1em;
}

.zm-bdy h2
{
	font-size: 1em;
}

.exp
{
	width: 120px;
	margin: 10px 10px 10px 10px;
}

hr
{
	width: 90%;
	margin: 10px auto;
}

* html .zm-hdr h1
{
}

* html .zm-hdr h2
{
}

/* Module Title - this is out put form your Theme.xml file */
.zm-hdr
{
	position: relative;
	margin: 0px;
	padding: 0px;
	
	text-align: left;
	z-index: auto;
	
	border: 1px dotted;
	
	background:#D4E3F1;
	
	line-height:28px;
}
/* Module Title - this is out put form your Theme.xml file */
.zm-hdr-title{
	font-size: 1em;
	font-weight: bold;
	padding-left:4px;
	color:navy;
}

/* Module copntrols - this is out put form your Theme.xml file */
.zm-hdr .zm-ctrl{
	width:150px;
	z-index:99;
	top:0px;
	position:relative;
}

.zm-hdr .zm-content
{
	margin: 0;
	padding: 0;
}

/* Module body content */
.zm-bdy
{
	margin-bottom:.5em;
	border: 1px dotted;
	position:relative;
	padding:2px;
}

.zm
{
	/*margin: 3px 3px 3px 3px;*/
	padding: 1px;
	margin-bottom:.5em;
}

.zm-ftr
{
}

.zm-ftr .zm-content
{
}

.zen-col-middle .zm
{
}

.zen-col-left .zm
{
}

.zen-col-right .zm
{
}

.zen-col-middle .zm-bdy
{
	
}

.zen-col-left .zm-bdy
{

}

.zen-col-right .zm-bdy
{

}

.zen-col-left .zm-hdr h2
{
	color: #5577A5;
}

.zen-col-right .zm-hdr h2
{
	color: #5577A5;
}

.zen-col-left .zm-bdy .zm-content
{
	font-size: .75em;
	color: #242F62;
	text-decoration: none;
}

.zen-col-right .zm-bdy .zm-content
{
	font-size: .75em;
	color: #242F62;
	text-decoration: none;
}

.zen-col-left .zm-bdy .zm-content a
{
	color: #2A00DE;
	text-decoration: none;
}

.zen-col-right .zm-bdy .zm-content a
{
	color: #2A00DE;
	text-decoration: none;
}

.zen-col-left .zm-bdy .zm-content a:hover
{
	color: #2A00DE;
	text-decoration: underline;
}

.zen-col-right .zm-bdy .zm-content a:hover
{
	color: #2A00DE;
	text-decoration: underline;
}

.zen-col-middle .zm-hdr h2
{
	color: #5577A5;
}
.zen-content a
{
	color: #212166;
}
.zen-content a:hover
{
	color: #8585ba;
}

.zen-col-middle .zm-bdy a:link
{
	text-decoration: underline;
	color: #393993;
}
.zen-col-middle .zm-bdy a:visited
{
	text-decoration: underline;
	color: #393993;
}
.zen-col-middle .zm-bdy a:hover
{
	text-decoration: underline;
	color: #933939;
}
.zen-col-middle .zm-bdy a:active
{
	text-decoration: none;
	color: #393993;
}
