body {
	padding:0;
	margin:0;
	background-color:White;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:80%;
}
/* styling the help popup */
div.help-popup .help-content{
	padding: 0.5em 2em;
}
.help-popup h1{
	font-size:1.2em;
}
.help-popup h2{
	font-size:1.1em;
}
.help-popup .summary{
	font-size:0.85em;
	font-style:italic;	
}
.help-popup div.Normal{
	font-size:0.85em;
}
.help-popup .top-chrome{
	margin:0;
	padding:0.33em 1em;
	background-color:#99CCFF;
	border-bottom:1px solid Gray;
}
.help-popup .top-chrome p,.help-popup .end-chrome p{
	margin:0;
	padding:0;
	font-weight:normal;
	font-style:italic;
	font-size:0.85em;
}
.help-popup .top-chrome p.title{
	font-size:1em;
	font-weight:bold;
	font-style:normal;
	margin-bottom:0.3em;
}
.help-popup .end-chrome{
	margin:0;
	padding:0.33em 1em;
	border-top:1px solid Gray;
}
.help-popup .related-links{
	margin:0;
	padding:0.33em 1em;
	border-top:1px solid Gray;
}
.related-links a{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:80%;
}
.related-links a:link{
	color:Blue;
}
.related-links a:visted{
	color:Blue;
}
.related-links a:hover{
	color:red;
}
.related-links a:active{
	color:red;
}
.help-popup pre{
	font-family: "Courier New", Courier, monospace;
	font-size:100%;
	border:1px solid gray;
	background:#DCDCDC;
	padding:5px;
	margin: 1em 0em;
}
code{
	font-family:"Courier New", Courier, monospace;
	color: #454545;
}

