/* Created by TopStyle Pro Trial Version - www.bradsoft.com */
div.mainmenu{
	font-size:0.85em;
}
.mainmenu ul,.mainmenu li,.mainmenu li a {
	box-sizing:content-box;
	vertical-align:bottom;
} 
.mainmenu ul{
padding:0;
margin:0;
border-bottom: 1px solid #B7B7B7;
font-size:1em;
}
.mainmenu ul li{
border:1px solid #B7B7B7;
border-width:1px 1px 0 3px;
margin:0;
padding:0;
list-style-type:none;
position:relative;
}
.mainmenu ul ul{
display:none;
}
.mainmenu ul li:hover > ul{
display:block;
position:absolute;
top:-1px;
left:100%;
}
.mainmenu li a{
padding:5px 7px;
display:block;
background:White;
text-decoration:none;
color:black;
}
.mainmenu ul#topmenu li a:hover{
background: Yellow;
}
.mainmenu ul#topmenu li:hover{
border-left-color: Red;
}

.mainmenu li.sub > a{
background: white url(menu_arrow_down.gif) no-repeat right center;
}

.mainmenu li li.sub > a{
background: white url(menu_arrow_right.gif) no-repeat right center;
}

.mainmenu ul#topmenu{
width:6em;
}
.mainmenu ul#topmenu > li:hover > ul{
width:10em;
top:1.5em;
left:-3px;
}
.mainmenu ul ul{
width:10em;
}
