<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rainbow.Framework.Data.MsSql.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;database=Rainbow;Integrated Security=True;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=30;"
            providerName="System.Data.SqlClient" />
        <add name="Rainbow.Framework.Data.MsSql.Properties.Settings.DatabaseConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;database=Rainbow;Integrated Security=True;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=30;"
            providerName="System.Data.SqlClient" />
        <add name="Rainbow.Framework.Data.MsSql.Properties.Settings.RainbowConnectionString"
            connectionString="Data Source=.\SQLExpress;AttachDbFilename=&quot;T:\Users\William Forney\Documents\Visual Studio 2008\Projects\Rainbow\NET_3_5\devint\trunk\WebSites\Rainbow\App_Data\Database.mdf&quot;;Initial Catalog=Rainbow;Integrated Security=True;Asynchronous Processing=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>