.zm-bdy p{margin:0 0 0.33em 0;color:Gray;font-size:1em;font-style:italic;}
.zm-hdr h2{margin:0em;padding:0em 1em 0em 5px;color:Red;font-weight:bold;font-size:1.2em;font-style:italic;line-height:2em;}
