/* Rainbow.Zen 3 columns with horizontal menu Base File - Jes1111 */
body{
padding:0px 0px 0px 0px;
margin:0px 0px 10px 0px;
}
#zenpanes{
/*width:770px;*/
width:100%;
/*min-width:600px;
max-width:850px;*/
margin:0px auto;
position:relative;
}
div.zen-hdr{
position:relative;
z-index:30;
padding:0em 0em;
margin:0em 0em;
}
div.zen-cols{
}
div.zen-ftr{
}
.zen-col-middle{
margin-left:-1px;
float:right;
width:100%;
}
div.zen-col-left{
position:relative;
margin-right:1px;
width:175px;
overflow:hidden;
float:left;
margin-left:-175px;
z-index:10;
}
div.zen-col-right{
position:relative;
margin-left:1px;
width:140px;
overflow:hidden;
float:right;
margin-right:-140px;
z-index:11;
}
div.zen-hide-right div.zen-col-right,div.zen-hide-both div.zen-col-right{
display:none;
}
div.zen-hide-left div.zen-col-left,div.zen-hide-both div.zen-col-left{
display:none;
}
div.zen-show-all{
padding:0 140px 0 175px;
}
div.zen-hide-left{
padding:0 140px 0 0;
}
div.zen-hide-right{
padding:0 0 0 175px;
}
div.zen-cols-wrapper{
padding-top:35px;
padding-bottom:0.1px;
width:100%;
}
div.zen-float-wrapper{
margin-right:-1px;
float:left;
width:100%;
position:relative;
z-index:0;
}
div.zen-clear{
clear:both;
}
div.zen-none{
display:none;
}
div.headermenu{
position:absolute;
top:5px;
right:5px;
}
div.headerlabels{
position:absolute;
top:30px;
right:5px;
}
div.mainmenu{
position:absolute;
z-index:30;
top:121px;
left:0px;
width:100%;
margin:0;
padding:0;
font-size:11px;
}
