/* Rainbow.Zen Presentation Base File - Jes1111 */
/*------------------------------------------------------------*
**  Global
**------------------------------------------------------------*/

body{
	background: #fff url(img/bg2.gif); /* Optional */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	text-align: center; /* IE Fix */
	margin: 0;
	color: #666;
}

acronym { cursor: help; border-bottom: 1px dashed #999; }
a { text-decoration: none; color: #369; border-bottom: 1px dashed #369; }
a:hover { border-bottom: 1px dashed #49515C; color: #49515C; }

#zenpanes{
	color:Black;
	padding:5px;
}

/*------------------------------------------------------------*
**  HEADER
**------------------------------------------------------------*/

div.zen-hdr{
	background: #49515C url(img/header_right.gif) no-repeat 100% 0;
	padding: 28px 30px;
}

/* Title Image Replacement */
h1.portaltitle{
	height:60px;
	width:300px;
	font:31px/41px Impact,Arial,Helvetica;
	font-weight:100;
	color:#999999;
	margin:0px;
	padding:0px;
	margin-left:20px;
}

#portaltitle{
	height:60px;
	width:300px;
	position:absolute;
	top:0px;
	left:0px;
}

#portaltitle span{
	display:block;
	height:60px;
	width:300px;
	/*height:100%;
	width:100%;*/
	position:absolute;
	top:0px;
	left:0px;
	/*background: url(img/RainbowPortal-2.gif) no-repeat;*/
}

/*------------------------------------------------------------*
**  Footer
**------------------------------------------------------------*/

/*
div.zen-footer{
border-width:1px;
border-color: #3c78b5;
border-style:solid none none none;
background-color: White;
padding:10px 0px;
text-align:center;
color: #666666;
}*/

div.zen-footer {
	background: #49515C url(img/header_right.gif) no-repeat 100% 0;
	border-bottom: 5px solid #fff;
	border-top: 10px solid #fff;
	text-align: center;	
	color: #fff;
	font-size: 0.8em;
	padding: 10px;
	line-height: 16px;
	clear: both;
	}

div.zen-footer a { text-decoration: none; color: #A2AFBF; border-bottom: 1px dashed #A2AFBF; }
div.zen-footer a:hover { border-bottom: 1px dashed #fff; color: #fff; }

/*------------------------------------------------------------*
** COLUMNS
**------------------------------------------------------------*/

div.zen-cols{
	background:White;
	border-left:0px none;
	border-right:0px none;
	padding-top:25px
}

div.zen-col-middle{
}

div.zen-col-center{
	margin:0 0em
}

div.zen-cols-wrapper{
	border-width:0px;
}

div.zen-hide-left div.zen-cols-wrapper{
	border-left:none;
	margin-left:0;
}

div.zen-hide-right div.zen-cols-wrapper{
	border-right:none;
	margin-right:0
}

div.zen-hide-both div.zen-cols-wrapper{
	border-style:none none none none;
	margin:0
}