<configuration>
	<appSettings>
		<!-- Setup Authentication Information -->
		<!-- Leave blank user name if you do not want authentication form -->
		<add key="UpdateUserName" value="" />
		<!-- Password is case sensitive -->
		<add key="UpdatePassword" value="" />
	</appSettings>
</configuration>