/*
  xTabPanelGroup Demo
  dynamic css
*/

.tabPanelGroup {
  position:relative; overflow:hidden;
}
.tabPanel {
  position:absolute; overflow:auto; display:none;
}
.tabGroup {
  position:absolute; overflow:hidden;
}
.tabDefault {
  position:absolute;
  /* overflow:hidden;*/
  
  cursor:pointer;
  text-align:center;
  
  border-top:none;
  border-left:1px solid #CFD4E6;
  border-right:1px solid #CFD4E6;
  border-bottom:1px solid #596380;
  
	margin:0px 0px 0px 0px; 
	padding:4px 4px 4px 4px;
	background:transparent;
	white-space:nowrap;
  
	font-size: 11px;
	color: #2A00DE;
/*	font-weight: bold;*/
	vertical-align: top;
}
.tabSelected {
  position:absolute; 
  /*overflow:hidden;*/
  cursor:pointer;
  text-align:center;
  
  border-top:1px solid #596380;
  border-right:1px solid #596380;
  border-bottom:none;
  border-left:1px solid #596380;
  
  font-size: 12px;
}
