<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--
This is a cut-down version of web.config. Yours will have a lot more content.
-->    
  <system.web>
    <httpModules>
        <add name="XHTMLModule" type="AspNetResources.Web.XHTMLModule, AspNetResources.Web" /> 
    </httpModules>
 </system.web>
 
</configuration>
