<configuration>
	<!-- Application specific settings -->
	<system.web>
		<browserCaps>
		<!-- Mobile support for  Pocket PC 2003 PocketIE -->
		<!-- Smartphone 2003 - "Mozilla/4.0 (compatible; MSIE 4.01; Windows CE; SmartPhone; 176x220) -->
		<!-- PPC 2003  -  "Mozilla/4.0 (compatible; MSIE 4.01; Windows CE; PPC; 240x320)" -->
		<!-- PPC 2002  -  "Mozilla/2.0 (compatible; MSIE 3.02; Windows CE; PPC; 240x320)" -->
		<use var="HTTP_USER_AGENT" />
  		<filter>
			<case match="Mozilla/\S* \(compatible; MSIE [4-9].\d*; Windows CE; SmartPhone;">		
				isMobileDevice="true" 
	         </case>  		
			<case match="Mozilla/\S* \(compatible; MSIE [4-9].\d*; Windows CE; PPC;">		
				isMobileDevice="true" 
				Browser="Pocket IE"
	         </case>
		</filter>
		<browserCaps>

		<!-- Adapter configuration for mobile controls used in the portal -->
		<mobileControls>
			<device name="PortalHtmlDeviceAdapters" inheritsFrom="HtmlDeviceAdapters">
				<control name="Rainbow.UI.MobileControls.TabbedPanel, Rainbow.Mobile" adapter="Rainbow.UI.MobileControls.Adapters.HtmlTabbedPanelAdapter, Rainbow.Mobile"/>
				<control name="Rainbow.UI.MobileControls.LinkCommand, Rainbow.Mobile" adapter="Rainbow.UI.MobileControls.Adapters.HtmlLinkCommandAdapter, Rainbow.Mobile"/>
			</device>
		<device name="PortalXhtmlDeviceAdapters" inheritsFrom="XhtmlDeviceAdapters">
				<control name="Rainbow.UI.MobileControls.TabbedPanel, Rainbow.Mobile" adapter="Rainbow.UI.MobileControls.Adapters.XhtmlTabbedPanelAdapter, Rainbow.Mobile"/>
			</device>
			<device name="PortalChtmlDeviceAdapters" inheritsFrom="ChtmlDeviceAdapters">
				<control name="Rainbow.UI.MobileControls.TabbedPanel, Rainbow.Mobile" adapter="Rainbow.UI.MobileControls.Adapters.ChtmlTabbedPanelAdapter, Rainbow.Mobile"/>
			</device>
			<device name="PortalWmlDeviceAdapters" inheritsFrom="WmlDeviceAdapters">
				<control name="Rainbow.UI.MobileControls.TabbedPanel, Rainbow.Mobile" adapter="Rainbow.UI.MobileControls.Adapters.WmlTabbedPanelAdapter, Rainbow.Mobile"/>
			</device>
		</mobileControls>
		
		<!-- deviceFilters configuration -->
		 <deviceFilters>
			<filter name="isHTML32" compare="PreferredRenderingType" argument="html32"/>
			<filter name="supportsJavaScript" compare="javascript" argument="true"/>
		
		<!-- usefull Filter (but at this time not nessasary)
			<filter name="isWML11" compare="PreferredRenderingType" argument="wml11"/>
			<filter name="isCHTML10" compare="PreferredRenderingType" argument="chtml10"/>
			<filter name="isXHTML-BASIC" compare="PreferredRenderingType" argument="xhtml-basic"/>
			<filter name="isXHTML-MP" compare="PreferredRenderingType" argument="xhtml-mp"/>
			<filter name="prefersJPEG" compare="PreferredImageMIME" argument="image/jpeg"/>
			<filter name="prefersGIF" compare="PreferredImageMIME" argument="image/gif"/>
			<filter name="prefersWBMP" compare="PreferredImageMIME" argument="image/vnd.wap.wbmp"/>
			<filter name="supportsColor" compare="IsColor" argument="true"/>
			<filter name="supportsCookies" compare="Cookies" argument="true"/>
			<filter name="supportsVoiceCalls" compare="CanInitiateVoiceCall" argument="true"/>
			<filter name="isPocketIE" compare="Browser" argument="Pocket IE"/>
-->
		</deviceFilters>
	</system.web>
</configuration>
